# Forbid directory viewing
Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine on

  # Redirects http to https
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  
  # Redirect to index.html after turning on History mode
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# http://www.prestashop.com/forums/topic/74847-solved-how-to-enable-gzip-with-godaddy/
<IfModule mod_deflate.c>
<IfModule mod_filter.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>
</IfModule>